canvas {
    background-color: #C9A2A2;
}

.fase1{
  background-color: rgb(173, 209, 191);
}

.fase2{
  background-color: rgba(15, 58, 114, 0.575);
}

.fase3{
  background-color: rgb(173, 122, 191);
}


 